.vscode
tempCodeRunnerFile
tempCodeRunnerFile.cpp
sim
*.swp
_x
xclbin
*.log
.metadata
.run 
.Xil 
ip_cache
RemoteSystemsTempFiles
sim_sim
sim_sim_system
awsver.txt
sdaccel_profile_summary.csv
sdx*
sdac*
header.bin
